@font-face {
    font-family: 'kbo bold';
    src: url(./fonts/KBO_Bold.ttf);
}

@font-face {
    font-family: 'kbo light' ;
    src: url(./fonts/KBO_light.ttf);
}

@font-face {
    font-family: 'kbo medium';
    src: url(./fonts/KBO_medium.ttf);
}
body {
    text-align: center;
    margin: 20px;       
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'kbo bold';
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
    margin-top: 50px !important;
}

.quiz-container {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'kbo bold';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.question {
    /* font-size: 1.2em; */
    margin-bottom: 20px;
    color: #002063;
}

.progress {
    width: 500px;
    z-index: 1000;
    background-color: #f9f9f9;
    color: #222;
}

.progress-bar {
    color: #222;
    font-size: 12px;
    font-weight: 100;
    font-family: 'kbo light';
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #002063;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #050f24;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.explanation {
    margin-top: 20px;
    /* font-size: 1em; */
    font-style: italic;
    color: #555;
    white-space: pre-line;
}
