@font-face {
    font-family: 'kbo bold';
    src: url(./fonts/KBO_Bold.ttf);
}

@font-face {
    font-family: 'kbo light' ;
    src: url(./fonts/KBO_light.ttf);
}

@font-face {
    font-family: 'kbo medium';
    src: url(./fonts/KBO_medium.ttf);
}
body {
    text-align: center;
    margin: 20px;       
}

.header {
    display: flex;
    background-color: #002063;
    width: 100%;
    height: 50px;
    align-items: stretch;
}

.header h1 {
    display: flex;
    margin: 10px;
    font-size: 25px;
    font-family: 'kbo bold';
    color: #fff;
}

.header .doosan img {
    width: 90px;
}

.header .doosan a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.header .doosan img {
    width: 90px;
}

.header .doosan a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
/* h1 {
    display: flex;
    flex-direction: column;
    font-family: 'kbo bold';
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
    margin-top: 70px !important;
} */

.quiz-container {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'kbo bold';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.question {
    /* font-size: 1.2em; */
    margin-bottom: 20px;
    color: #002063;
}

.progress {
    width: 500px;
    z-index: 1000;
    background-color: #f9f9f9;
    color: #222;
}

.progress-bar {
    color: #222;
    font-size: 12px;
    font-weight: 100;
    font-family: 'kbo light';
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'kbo bold';
    font-weight: 100;
}


.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #002063;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #050f24;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.explanation {
    margin-top: 20px;
    /* font-size: 1em; */
    font-style: italic;
    color: #555;
    white-space: pre-line;
}

.score-container {
    font-size: 10px;
}

.share-buttons {
    position: absolute;
    top: -20px;
    right: 500px;
}

.share-buttons h1 {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-family: 'kbo bold';
    color: #002063;
}

.sns-btn {
    position: relative;
    top: 0px;
    display: flex;
    gap: 30px;
}

.kakao-btn img{
    position: relative;
    top: -5px;
    width: 35px;
    cursor: pointer;
    border-radius: 160px;
}

.kakao-btn p {
    position: relative;
    top: -5px;
    font-size: 12px;
    font-weight: 400;
}

.facebook-btn img{
    position: relative;
    top: -5px;
    width: 35px;
    cursor: pointer;
}

.facebook-btn p {
    position: relative;
    top: -5px;
    font-size: 12px;
    font-weight: 400;
}

.twitter-btn img{
    width: 25px;
    cursor: pointer;
}

.twitter-btn p {
    position: relative;
    top: 5px;
    font-size: 12px;
    font-weight: 400;
}

.threads-btn img{
    position: relative;
    top: -5px;
    width: 40px;
    cursor: pointer;
}